@page "/ShoppingList"
@using BlazorApp.Data

<h3>ShoppingList</h3>

<input placeholder="Grocery Name" @bind="@groceryName" />
<input placeholder="Grocery Price" @bind="groceryPrice" />
<button onclick="@AddGrocery">Add Grocery</button>

<ul>
    @foreach (var grocery in Groceries)
    {
        <li>@grocery.Name --- @grocery.Price</li>
    }
</ul>
<h1>Total (@Groceries.Sum(c=>c.Price))</h1>

@code {
    private string groceryName;
    private float groceryPrice;

    private List<Grocery> Groceries = new List<Grocery>();
    public void AddGrocery()
    {
        if (!string.IsNullOrWhiteSpace(groceryName) && groceryPrice > 0)
        {
            Groceries.Add(new Grocery
                {
                    Name = groceryName,
                    Price = groceryPrice
                });
        }
        groceryName = string.Empty;
        groceryPrice = 0;
    }
}
