@page "/ShoppingList"
@using BlazorApp.Data

<PageTitle>@title</PageTitle>
<h3>Shopping List</h3>

<input class="form-control mb-2" placeholder="Grocery Name" @bind="@groceryName" />
<input class="form-control mb-2" placeholder="Grocery Price" @bind="groceryPrice" />
<button class="btn btn-outline-primary mb-2" onclick="@AddGrocery">Add Grocery</button>
<hr />
<ul>
    @foreach (var grocery in Groceries)
    {
        <li>@grocery.Name --- @grocery.Price</li>
    }
</ul>
<h1>Total (@Groceries.Sum(c=>c.Price))</h1>

@code {
    private string title = "Our Groceries";
    private string groceryName = string.Empty;
    private float groceryPrice = 0;

    private List<Grocery> Groceries = new List<Grocery>();
    public void AddGrocery()
    {
        if (!string.IsNullOrWhiteSpace(groceryName) && groceryPrice > 0)
        {
            Groceries.Add(new Grocery
                {
                    Name = groceryName,
                    Price = groceryPrice
                });
        }
        groceryName = string.Empty;
        groceryPrice = 0;
    }
}
